footer {
    width: 100%;
    margin-top: 20px;
    padding: 5px 0px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    p {color: $color-verdigris;}
}