body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden !important;
  background: #202324;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
  border-radius: none;
}

p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

.btn-blue {
  padding: 10px 16px;
  cursor: pointer;
  background: transparent;
  border: 1px solid inherit;
  color: inherit;
  text-transform: uppercase;
  transition: border 0.3s, background 0.5s, color 0.3s;
}

.btn-blue {
  border: 1px solid #00afb9;
  background: transparent;
  color: #00afb9;
}
.btn-blue:hover {
  border: 1px solid #0081a7;
  background: #00afb9;
  background: linear-gradient(90deg, #00afb9 0%, #0081a7 100%);
  color: #202324;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .topbar__logo {
  display: block;
}
header .search__form {
  display: block;
}
header .search__form input[type=search] {
  width: 200px;
  padding: 10px 12px;
  margin-right: 5px;
  border: 1px solid #00afb9;
  background: #202324;
  color: #0081a7;
  transition: border 0.3s, box-shadow 0.3s;
}
header .search__form input[type=search]:hover {
  box-shadow: 0px 0px 0px 2px rgba(0, 175, 185, 0.4);
}
header .search__form input[type=search]:focus {
  border: 1px solid #0081a7;
  box-shadow: 0px 0px 0px 1px #0081a7;
}

section {
  width: 100%;
  height: auto;
  padding: 0px 12%;
  margin: 20px 0px;
  position: relative;
}

.container__block {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.container__block .block__item {
  width: 120px;
  height: 120px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  transition: background 0.2s, border-radius 0.3s;
}
.container__block .block__item img {
  width: 80px;
  margin: auto;
  z-index: 1;
  transition: transform 0.3s ease-out;
}
.container__block .block__item span {
  bottom: 3px;
  transform: translateY(180%);
  position: absolute;
  color: #f07167;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  transition: transform 0.3s ease-out;
}
.container__block .block__item:hover {
  border-radius: 15px;
}
.container__block .block__item:hover img {
  transform: translateY(-10px);
}
.container__block .block__item:hover span {
  transform: translateY(0px);
}

.container {
  width: 100%;
  height: auto;
  padding: 0px 12%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.container h3::after {
  width: 60px;
  height: 1px;
  display: block;
  content: "";
  background: #f07167;
}
.container h4 {
  padding: 2px 0px;
  margin-bottom: 10px;
  font-size: 18px;
}
.container > div:nth-child(1) {
  width: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container > div:nth-child(1) .block__name {
  position: absolute;
  font-size: 46px;
  color: white;
  text-transform: uppercase;
  transition: transform 0.3s ease-out;
}
.container > div:nth-child(1) span {
  position: absolute;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  transform: translateY(740%);
  transition: transform 0.3s ease-out;
}
.container > div:nth-child(1) img {
  width: 350px;
}
.container > div:nth-child(1):hover .block__name {
  transform: translateY(-20%);
}
.container > div:nth-child(1):hover span {
  transform: translateY(50%);
}
.container > p {
  text-align: center;
}
.container table.fiche {
  margin: 40px 0px;
  cursor: default;
}
.container table.fiche tr:hover {
  background: rgba(255, 255, 255, 0.1);
}
.container table.fiche td,
.container table.fiche th {
  width: 50%;
  padding: 10px 16px;
  border: 1px solid white;
}
.container table.fiche td {
  text-transform: capitalize;
}
.container > div:last-child {
  display: flex;
}
.container > div:last-child section {
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0px;
}
.container > div:last-child .sub__section {
  margin-top: 20px;
  margin-bottom: 0px;
}
.container > div:last-child .summary {
  padding: 5px 0px 10px 20px;
  height: fit-content;
  position: sticky;
  margin-left: 20px;
  top: 20px;
  border-left: 1px solid white;
}
.container > div:last-child .summary a {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}
.container > div:last-child .summary a:hover {
  color: #f07167;
}

footer {
  width: 100%;
  margin-top: 20px;
  padding: 5px 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: #00afb9;
}

/*# sourceMappingURL=main.css.map */
